:host {
    width: 100%;
}

.main-div-vertical {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(6, 1fr);
    box-sizing: border-box;
    height: 100%;
    width: 100%;
    border: none;
    outline: none;
}

.main-div-horizontal {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: repeat(3, 1fr);
    box-sizing: border-box;
    height: 100%;
    width: 100%;
    border: none;
    outline: none;
}

.child-div {
    box-sizing: border-box;
    border-top: .5px solid black;
    border-right: .5px solid black;
}
