:host {
    width: 100%;
}

.main-div-vertical {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(6, 1fr);
    box-sizing: border-box;
    height: 100%;
    width: 100%;
    border: none;
    outline: none;
}

.main-div-horizontal {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: repeat(3, 1fr);
    box-sizing: border-box;
    height: 100%;
    width: 100%;
    border: none;
    outline: none;
}

.child-div {
    box-sizing: border-box;
    border-top: .5px solid black;
    border-right: .5px solid black;
    position: relative;
}


.background-color-red {
    background-color: rgba(255, 0 , 0, 1);
}

.background-color-red--light {
    background-color: rgba(255, 0 , 0, 0.7);
}

.background-color-red--dark {
    background-color: rgba(147,28,28, 1);
}


.background-color-green {
    background-color: rgba(0, 255 , 0, 1);
}

.background-color-green--light {
    background-color: rgba(0, 255 , 0, 0.4);
}

.background-color-green--dark {
    background-color: rgba(21, 69, 21, 1);
}

.background-color-blue {
    background-color: rgba(0, 0 , 255, 1);

}

.background-color-blue--light {
    background-color: rgba(0, 0 , 255, 0.4);
}

.background-color-blue--dark {
    background-color: rgba(28, 28, 110, 1);
}

.background-color-yellow {
    background-color:  rgba(255,255,0, 1);
}

.background-color-yellow--light {
    background-color: rgba(255,255,0, 0.4);
}


.background-color-yellow--dark {
    background-color: rgba(145, 145, 23, 1);
}


.inner-coin-div {
    position: absolute;
    display: inline-block;
    background-color: grey;
    width: 1rem;
    height: 1rem;
}


