:host {
    width: 100%;
}

.main-div {
    display: flex;
    text-align: center;
    align-items: stretch;
    box-sizing: border-box;
    height: 100%;
    width: 100%;
    align-items: center;
    justify-items: center;
    flex-direction: row;
}

.child-div {
    display: flex;
    box-sizing: border-box;
    margin: 0 auto;
    height: 16.33%;
    width: 33.3333%;
    outline: 1px solid yellow;  
}
