:host{
    text-align: center;
    height: 100vh;
    box-sizing: border-box;
}

.img-icon {
    height: 50%;
    width: 40%;
    object-fit: cover;
}

.container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    height: 100%;
    box-sizing: border-box;
    padding: 3em;
}

.inner-container {
    display: flex;
    justify-content: center;
    flex: 0 0 100%;
    height: 100%;
}


.inner-header {
    display: flex;
    justify-content: space-between;
    flex: 0 0 100%;
    height: 100%;
    padding: 1rem 0;
    background-color: grey;
}

.child-div {
    display: flex;
    text-align: center;
    align-items: stretch;
    box-sizing: border-box;
    height: 23vh;
    width: 33.33333333333%;
    align-items: center;
    justify-items: center;
}


.div-sidespace {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex: 0 0 33.33333333333%;
    height: 3rem;
    box-sizing: border-box;
}

.start-box-parent {
    display: flex;
    width: 33.33333333333%;
}